{
	"$copy": "{{getBPFile('entities/arrow.json', semver('1.26.20'))}}",

	"$template": {
		"minecraft:entity": {
			"description": {
				"properties": {
					"r4isen1920_originspe:is_imbued": {
						"client_sync": true,
						"type": "bool",
						"default": false
					}
				}
			},

			"component_groups": {
				"r4isen1920_originspe:perk_no_projectile_divergence": {
					"minecraft:projectile": {
						"on_hit": {
							"impact_damage": {
								"damage": 1,
								"knockback": true,
								"semi_random_diff_damage": true,
								"destroy_on_hit": true,
								"max_critical_damage": 10,
								"min_critical_damage": 9,
								"power_multiplier": 0.97
							},
							"stick_in_ground": {
								"shake_time": 0.35
							},
							"arrow_effect": {
								"apply_effect_to_blocking_targets": false
							}
						},
						"hit_sound": "bow.hit",
						"power": 5.0,
						"gravity": 0.0,
						"uncertainty_base": 0,
						"uncertainty_multiplier": 0,
						"anchor": 1,
						"should_bounce": true,
						"offset": [0, -0.1, 0]
					}
				}
			},

			"events": {
				"minecraft:entity_spawned": {
					"^sequence": [
						{
							"filters": { "test": "has_tag", "subject": "other", "value": "r4isen1920_originspe:power_imbue" },
							"queue_command": {
								"command": [ "tag @s add _imbue_arrow" ]
							},
							"set_property": {
								"r4isen1920_originspe:is_imbued": true
							}
						},
						{
							"filters": {
								"all_of": [
									{ "test": "is_family", "subject": "other", "value": "player" },
									{ "test": "has_tag", "subject": "other", "value": "perk_no_projectile_divergence" }
								]
							},
							"add": {
								"component_groups" : [ "r4isen1920_originspe:perk_no_projectile_divergence" ]
							}
						}
					]
				}
			}
		}
	}
}
