{
	"$copy": "{{getRPFile('entity/player.entity.json', semver('1.26.20'))}}",

	"$template": {
		"minecraft:client_entity": {
			"description": {
				"min_engine_version": "1.8.0",

				"materials": {
					"skin_type.custom": "entity_custom",
					"skin_type.ghostly": "ghostly",

					"outline_type.highlight_base": "highlight_base",
					"outline_type.highlight_outliner": "highlight_outliner",

					"model_type.transition": "model_type_transition"
				},

				"textures": {
					"skin_type.slimy": "textures/entity/r4isen1920/originspe/slime_overlay",

					"outline_type.divine": "textures/entity/r4isen1920/originspe/divine_aura",

					"model_type.transition": "textures/entity/r4isen1920/originspe/model_transition",
					"model_type.bat": "textures/entity/bat_v2"
				},

				"geometry": {
					"outline_type.wide": "geometry.r4isen1920_originspe.outline_type.wide",
					"outline_type.slim": "geometry.r4isen1920_originspe.outline_type.slim",

					"model_type.hidden": "geometry.r4isen1920_originspe.empty",
					"model_type.transition":"geometry.r4isen1920_originspe.model_type.transition",
					"model_type.bat":"geometry.r4isen1920_originspe.model_type.bat"
				},

				"scripts": {
					"initialize": [
						"v.p_toggle_particles = 1.0;",
						"v.p_model_type = 'normal';",
						"v.p_model_type_transitioning = 0.0;",
						"v.p_skin_type = 'normal';",
						"v.p_emitter_type = 'none';",
						"v.p_outline_type = 'none';",
						"v.p_camera_active = 0.0;",

						"v.is_using_custom_camera = 0.0;",

						"v.is_using_slim_skin = (v.short_arm_offset_left == 0.5);"
					],
					"pre_animation": [
						"(!q.is_in_ui && !v.is_paperdoll) ? { ",
						"  v.p_toggle_particles = q.property('r4isen1920_originspe:toggle_particles');",
						"  v.p_model_type = q.property('r4isen1920_originspe:model_type');",
						"  v.p_model_type_transitioning = q.property('r4isen1920_originspe:model_type_transitioning');",
						"  v.p_skin_type = q.property('r4isen1920_originspe:skin_type');",
						"  v.p_emitter_type = q.property('r4isen1920_originspe:emitter_type');",
						"  v.p_outline_type = q.property('r4isen1920_originspe:outline_type');",
						"  v.p_camera_active = q.property('r4isen1920_originspe:camera_active');",

						"  v.is_using_custom_camera = q.is_local_player && v.p_camera_active;",
						"};",

						"v.is_using_slim_skin = (v.short_arm_offset_left == 0.5);"
					],
					"animate": [
						{ "emitter_type.enderian_particles": "!v.is_paperdoll" },
						{ "emitter_type.starborne_particles": "!v.is_paperdoll" },
						{ "emitter_type.elven_particles": "!v.is_paperdoll" },
						{ "emitter_type.voidwalker_particles": "!v.is_paperdoll" },
						{ "emitter_type.diviner_particles": "!v.is_paperdoll" },
						{ "emitter_type.vampire_particles": "!v.is_paperdoll" },

						{ "model_type.transition": "v.p_model_type_transitioning && !v.is_first_person" },
						{ "model_type.bat.controller": "v.p_model_type == 'bat'" },


						{ "shulk_inv_standing": "q.is_riding_any_entity_of_type('r4isen1920_originspe:inventory_keep')" }
					]
				},

				"animations": {
					"emitter_type.enderian_particles": "controller.animation.r4isen1920_originspe.emitter_type.enderian",
					"emitter_type.starborne_particles": "controller.animation.r4isen1920_originspe.emitter_type.starborne",
					"emitter_type.elven_particles": "controller.animation.r4isen1920_originspe.emitter_type.elf",
					"emitter_type.voidwalker_particles": "controller.animation.r4isen1920_originspe.emitter_type.voidwalker",
					"emitter_type.diviner_particles": "controller.animation.r4isen1920_originspe.emitter_type.diviner",
					"emitter_type.vampire_particles": "controller.animation.r4isen1920_originspe.emitter_type.vampire",

					"model_type.transition": "controller.animation.r4isen1920_originspe.model_type.transition",
					"model_type.normal": "animation.r4isen1920_originspe.model_type.normal",
					"model_type.bat": "animation.r4isen1920_originspe.model_type.bat",

					"model_type.bat.controller": "controller.animation.r4isen1920_originspe.model_type.bat",
					"model_type.bat.flying": "animation.r4isen1920_originspe.model_type.bat.flying",
					"model_type.bat.resting": "animation.r4isen1920_originspe.model_type.bat.resting",


					"shulk_inv_standing": "animation.r4isen1920_originspe.shulk_inv.standing",


					//? For some reason, this isn't defined within the vanilla files?
					"first_person_breathing_bob": "animation.player.first_person.breathing_bob"
				},

				"particle_effects": {
					"emitter_type.enderian_aura": "r4isen1920_originspe:space_aura",
					"emitter_type.starborne_star": "r4isen1920_originspe:star",
					"emitter_type.starborne_meditate": "r4isen1920_originspe:star_meditate",
					"emitter_type.starborne_stress": "r4isen1920_originspe:star_stress",
					"emitter_type.elven_aura": "r4isen1920_originspe:elven_aura",
					"emitter_type.voidwalker_aura": "r4isen1920_originspe:voidwalker_aura",
					"emitter_type.diviner_aura": "r4isen1920_originspe:diviner_aura",
					"emitter_type.vampire_aura": "r4isen1920_originspe:vampire_aura",
					"emitter_type.vampire_bat_form_aura": "r4isen1920_originspe:vampire_bat_form_aura"
				},

				"render_controllers": [
					{ "controller.render.r4isen1920_originspe.skin_type.ghostly": "v.p_model_type == 'normal' && q.any(v.p_skin_type, 'ghostly', 'shadow') && v.is_first_person" },
					{ "controller.render.r4isen1920_originspe.skin_type.ghostly.third_person": "v.p_model_type == 'normal' && q.any(v.p_skin_type, 'ghostly', 'shadow') && !v.is_first_person && !v.map_face_icon" },
					{ "controller.render.r4isen1920_originspe.skin_type.ghostly.third_person_overlay": "v.p_model_type == 'normal' && q.any(v.p_skin_type, 'ghostly', 'shadow') && !v.is_first_person && !v.map_face_icon" },

					{ "controller.render.r4isen1920_originspe.skin_type.slimy": "v.p_model_type == 'normal' && v.p_skin_type == 'slimy' && v.is_first_person" },
					{ "controller.render.r4isen1920_originspe.skin_type.slimy.third_person": "v.p_model_type == 'normal' && v.p_skin_type == 'slimy' && !v.is_first_person && !v.map_face_icon" },

					{ "controller.render.r4isen1920_originspe.outline_type.divine": "v.p_model_type == 'normal' && v.p_skin_type == 'normal' && v.p_outline_type == 'divine_aura' && v.is_first_person" },
					{ "controller.render.r4isen1920_originspe.outline_type.divine.third_person": "v.p_model_type == 'normal' && v.p_skin_type == 'normal' && v.p_outline_type == 'divine_aura' && !v.is_first_person && !v.map_face_icon" },
					{ "controller.render.r4isen1920_originspe.outline_type.divine.third_person_slim": "v.p_model_type == 'normal' && v.p_skin_type == 'normal' && v.p_outline_type == 'divine_aura' && !v.is_first_person && !v.map_face_icon && v.is_using_slim_skin" },

					{ "controller.render.r4isen1920_originspe.model_type.transition": "v.p_model_type_transitioning && !v.is_first_person" },
					{ "controller.render.r4isen1920_originspe.model_type.bat": "!v.p_model_type_transitioning && v.p_model_type == 'bat'" }
				]
			}
		}

	}
}
