{
  "$files": {
    "array": "listBPFiles('recipes', semver('1.20.70')).filter(x => fileBaseName(x).contains('furnace_kelp'))",
    "filename": "{{fileBaseName(value)}}"
  },
  "$copy": "{{value}}",

  "$template": {

    "minecraft:recipe_furnace": {
      "output": "r4isen1920_originspe:temp_dried_kelp"
    }

  }

}