{
  "$scope": {

    "items": [
      "bread"
    ]

  },

  "$files": {
    "array": "listLatestBPFiles('recipes').filter(x => items.contains(fileBaseName(x)))",
    "filename": "{{fileBaseName(value)}}"
  },
  "$copy": "{{value}}",

  "$template": {

    "minecraft:recipe_shaped": {
      "result": {
        "item": "r4isen1920_originspe:temp_{{fileBaseName(value)}}"
      }
    }

  }

}